body {
  font-family: Arial, Helvetica, sans-serif;
}

body .form {
  float: left;
  width: 50%;
}

body .form label {
  display: inline-block;
  width: 200px;
  text-align: right;
  vertical-align: top;
  margin: 10px 5px;
}

body .form .form-actions {
  margin: 10px 5px 10px 205px;
  display: block;
}

body table {
  float: left;
  width: 50%;
}
