body,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  position: fixed;
  left: 50%;
  width: 50%;
}

.form .form-label {
  display: inline-block;
  width: 200px;
  text-align: right;
  vertical-align: top;
  margin: 10px 5px;
}

.form .form

.form .form-actions {
  margin: 10px 5px 10px 205px;
  display: block;
}

table {
  float: left;
  width: 50%;
}

table thead tr {
  display: block;
}

table th,
table td {
  min-width: 100px;
}

table tbody {
  display: block;
  height: 100vh;
  overflow: auto;
}
